/* General */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0 auto;
    padding: 1em 1em;
}

header {
    background-color: rgb(53, 66, 80);
}

.heading {
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em 0em;
}

.sub-heading {
    font-weight: 500;
    padding: 0.5em 0em;
}

.center {
    text-align: center;
}

.header {
    padding: 1em 0;
}

.title-image {
    width: 100%;
}

p {
    padding: 0.3em 0;
}

.fa-heart {
    color: rgb(204, 37, 37);
}

/* Buttons */
.btn {
    min-width: 80px;
    height: 32px;
    margin: 1em 0.3em 0 0;
    padding: 0 0.5em;
    color: #fffafa;
    background-color: #708090;
    border: 2px solid rgb(53, 66, 80);
}

.btn:hover {
    background-color: rgb(53, 66, 80);
    cursor: pointer;
}

.btn:active {
    background-color: rgb(28, 36, 44);
}

.text-container {
    text-align: justify;
    padding-right: 1em;
}

.button-container {
    text-align: right;
}

.btn-list {
    margin: 0.5em;
}

#loading {
    font-size: 1.5em;
    font-weight: 500;
    color: #708090;
}

/* Navigation */
.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 70px;
    padding: 10px 10px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #708090;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

nav ul li {
    padding: 0 1em;
}

nav ul li a {
    display: inline-block;
    font-size: 1em;
    color: #fffafa;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1em;
    transition: all 0.5s;
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #aaaaaa;
}

nav ul li a.active {
    font-weight: 700;
}

/* Menu Icon (Burger) */
.menu-icon {
    margin: 4px 10px;
    cursor: pointer;
}

.line {
    width: 32px;
    height: 4px;
    margin: 7px 0;
    background-color: #fffafa;
}

#show-menu {
    display: none;
}

#show-menu:checked ~ nav ul {
    max-height: 250px;
    padding: 1em 0;
}

/* App */
.list {
    list-style-type: none;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1em;
    margin: 0.7em 0;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(213, 224, 233);
}

/* Form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1.6em;
    background-color: #99a9b8;
    border-radius: 4px;
}

input.form-input {
    width: 100%;
    margin: 0.8em 0;
    padding: 0.8em 0.3em;
    border: none;
    border-radius: 4px;
}

.form-error {
    color: rgb(187, 17, 17);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    height: 50px; /* If changed, also change pushFooter-Element */
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: #fffafa;
    background-color: #708090;
}

#pushFooter {
    margin-bottom: 150px; /* Equals height of footer + 100px extra distance */
}