/* No Breakpoint for < 768px since the general styling is mobile first */

/* Medium Resolution */
@media (min-width: 768px) { 
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }

    nav ul {
        max-height: 70px;
        padding: 10px 0;
        text-align: right;
        transition: none;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    .menu-icon {
        display: none;
    }

    #show-menu:checked ~ nav ul {
        padding: 10px 0;
    }

    .image-container {
        padding-bottom: 1em;
    }

    .title-image {
        width: 50%;
    }

    /* Buttons */
    .button-container {
        display: flex;
    }

    .btn-detail {
        display: inline-block;
    }
}

/* Large Devices */
@media (min-width: 1200px) {
    main {
        max-width: 1440px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .column:first-child {
        padding-right: 1em;
    }

    .title-image {
        width: 500px;
    }

    #loading {
        font-size: 1.5em;
    }
}