@media (min-width: 768px) { 
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }

    nav ul {
        max-height: 70px;
        padding: 10px 0;
        text-align: right;
        transition: none;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    .menu-icon {
        display: none;
    }

    #show-menu:checked ~ nav ul {
        padding: 10px 0;
    }
}