.tooltip {
    background: #708090;
    color: #fffafa;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    display: none;
}

.tooltip[data-show] {
    display: block;
}

/* Tooltip Image */
.detail-tooltip-image {
    max-width: 160px;
    padding: 1em 0.7em 0 0.7em;
}

.detail-tooltip-character {
    font-size: 1.1em;
    padding: 0.5em 0.2em;
}

/* Tooltip Arrow */
.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
    text-align: left;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #708090;
}

.tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}
